.landing-page {
    min-height: 100vh;
    background: #f2f2f2;
}

.hero-section {
    padding: 1rem 15rem;
}

.landing-page {
    min-height: 100vh;
    background: #f2f2f2;
}

.hero-section {
    padding: 1rem 15rem;
}

