.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.input-field label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-field input {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s;
}

.input-field input:focus {
  border-color: #0d6efd;
  outline: none;
}
