.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 112px;
    object-fit: contain;
    padding-left: 0px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.nav-links a {
    text-decoration: none;
    color: #2c3e50;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #3498db;
}

.book-btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.book-btn:hover {
    background: #2980b9;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-icon:hover {
    transform: scale(1.1);
}
